# BNB Chain RPC (测试网: https://bsc-testnet.publicnode.com)
BSC_RPC_URL=https://bsc-dataseed.binance.org

# PancakeSwap V3 NonfungiblePositionManager
# 主网: 0x46A15B0b27311cedF172AB29E4f4766fbE7F4364
# 测试网: 0x427bF5b37357632377eCbEC9de3626C71A5396c1
POSITION_MANAGER_ADDRESS=

# Executor deploy config
DEPLOYER_PRIVATE_KEY=
OWNER_ADDRESS=
BENEFICIARY_ADDRESS=0x32eb462158F7A121d407510C340928404d863E94

# Bot runtime config
EXECUTOR_ADDRESS=
BOT_PRIVATE_KEY=
TOKEN_ID=
RESCUE_MODE=all
PARTIAL_LIQUIDITY=
AMOUNT0_MIN=0
AMOUNT1_MIN=0
DEADLINE_SECONDS=600
